AI_API_BASE_URL=
AI_API_KEY=
AI_MODEL=
CORS_ORIGIN=
DATABASE_URL=
DEEPSEEK_API_BASE_URL=
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_SECRET=
MINIO_ACCESS_KEY=
MINIO_BUCKET=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
SMS_ACCESS_KEY_ID=
SMS_ACCESS_KEY_SECRET=
SMS_SIGN_NAME=
SMS_TEMPLATE_CODE=